/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
    &kp y       &kp Q           &kp W               &kp E                    &kp R        &kp T
    &kp h        &kp A           &kp S               &kp D                    &kp F        &kp G
    &kp n        &kp Z           &kp X               &kp C                    &kp V        &kp B
                                                    &kp m  &kp j  &kp o
            >;
        };
    };
};
