/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        layer0 {
                    bindings = <
        &kp ESCAPE      &kp Q             &kp W                 &kp E                   &kp R        &kp T
        &kp LEFT_SHIFT  &kp A             &kp S                 &kp D                   &kp F        &kp G
        &kp LEFT_GUI    &kp Z             &kp X                 &kp C                   &kp V        &kp B
                                                                &mt LEFT_CONTROL EQUAL  &kp ENTER    &mt LALT TAB
                    >;
                };
    };
};
