/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
    &kp Y        &kp Q           &kp W                &kp E                    &kp R        &kp T
    &kp H        &kp A           &kp S                &kp D                    &kp F        &kp G
    &kp N        &kp Z           &kp X                &kp C                    &kp V        &kp B
                                                      &kp M                    &kp J        &kp O
            >;
        };
    };
};
